.container{
    margin-bottom: 100px;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #000 0%, #000 100% );
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.carousel-item {
    padding: 20px 40px;
}
.card-deck{
    text-align: center;
}
.h1, h1 {
    font-size: 2.5rem;
    margin: 0px 0px 0px 0px;
    padding-bottom: 0px;
}
.h2, h2 {
    font-size: 2rem;
    color: olive;
    padding-bottom: 15px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray ;
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: #fff;
    border-top: none;
    
}
.categories{
    text-align: center;
    padding-bottom: 50px;
    
}
h3:after{
    content:'';
    background:black;
    width:10%;
    height:3px;
    display:block;
    margin: 0 auto;
    border: 2px solid darkgoldenrod;
    border-radius: 25px;
     
     
 }



